


  <div class="container">
      <br />
      <h1 class="text-center">products</h1>
      <table class="table">
          <thead>
              <th>id</th>
              <th>title</th>
              <th>price</th>
              <th>stock</th>
          </thead>
          <tbody>
              <tr *ngFor="let listitem of list">
                  <td>{{listitem.id}}</td>
                  <td>{{listitem.title}}</td>
                  <td>{{listitem.price}}</td>
                  <td>{{listitem.stock}}</td>
              </tr>
          </tbody>
      </table>
  </div>

